// section style
.section {
  @apply py-28;
}

// container
.container {
  @apply mx-auto max-w-[1140px] xl:max-w-[1320px] px-3;
}

// form style
.form-inputs * {
  @apply mb-5 leading-10;
}

.form-input,
.form-textarea {
  @apply border-border py-3 px-5 border bg-transparent focus:border-border focus:ring-transparent focus:bg-[#202e3c] placeholder:text-text/50;
}


// social icon style
.social-share {
  @apply space-x-4;
  li {
    @apply inline-block;
    a {
      @apply block h-9 w-9 rounded-full border bg-primary text-center text-dark;
      svg {
        @apply m-auto h-9;
      }
    }
  }
}

//profile
.profile-social-icons {
  li {
    @apply mx-3
  }
   a {
    @apply text-dark text-2xl;


    svg {
      @apply hover:scale-125
       duration-200 ease-in-out transition
    }
   }
}


// content style
.content {
  @apply prose max-w-none;
  @apply prose-headings:mt-4 prose-headings:font-normal prose-headings:text-dark;
  @apply prose-h1:mb-4 prose-h1:text-h1-sm md:prose-h1:text-h1;
  @apply prose-h2:mb-4 prose-h2:text-h2-sm md:prose-h2:text-h2;
  @apply prose-h3:mt-4 prose-h3:text-h3-sm md:prose-h3:text-h3;
  @apply prose-h4:mt-4;
  @apply prose-h5:mb-4;
  @apply prose-h6:mb-6;
  @apply prose-hr:border-[#cbcbcb42]/25;
  @apply  prose-p:text-text;
  @apply prose-img:rounded-lg;
  @apply prose-blockquote:border-primary prose-blockquote:bg-[rgba(97,238,188,4%)] prose-blockquote:rounded prose-blockquote:text-2xl prose-blockquote:text-dark prose-blockquote:py-8 prose-blockquote:px-8 prose-blockquote:not-italic prose-blockquote:leading-9;
  @apply prose-code:rounded-sm prose-code:border prose-code:border-border prose-code:px-1 prose-code:text-primary;
  @apply prose-strong:text-text;
  @apply prose-a:text-primary;
  @apply prose-li:text-text  prose-li:marker:text-text;
  @apply prose-table:rounded prose-table:overflow-hidden prose-thead:border-border prose-tr:border-none prose-td:text-base prose-td:text-text prose-td:p-3 prose-thead:bg-[#2e3b47] prose-th:p-3 prose-th:text-dark prose-th:text-base;

  blockquote p {
    @apply text-dark my-0 leading-9 text-[21px];
  }

  tbody {
    @apply bg-[#242e38];
  }
}


//card
.card {
  @apply border-border border p-6 lg:p-9 rounded;
}

//tab
.tab-item {
  h5 {
    @apply mt-0;
  }
  
  p {
    @apply mb-0
  }
}

.tab-link.active {
  @apply bg-[#242e38];
}

//gallery
.gallery {
  &-item {
    margin-top: 30px;
  }
  &-img {
    @apply h-full object-cover;
  }

  .ReactGridGallery_tile {
    @apply  flex-grow bg-transparent m-2.5 #{!important};

    &:hover {
      @apply cursor-zoom-in;
      
      img {
        @apply scale-105
      }
    }
  }
  
  .ReactGridGallery_tile-viewport {
    img {
    @apply w-full rounded-none object-cover transition-all duration-300;
    @apply cursor-zoom-in #{!important};
    }
  }
}



//notice
.notice {
  @apply border-t-[30px] text-dark;

  &.note {
    @apply bg-[rgba(151,214,255,.15)] border-[#97d6ff]
  }

  p {
    @apply my-0 ;
  }

  &.tip {
    @apply bg-[rgba(150,255,150,.15)] border-[#96ff96]
  }

  &.info {
    @apply bg-[rgba(255,195,146,.15)] border-[#ffc392cc]
  }

  &.warning {
    @apply bg-[rgba(255,145,140,.15)] border-[#ff918ccc]
  }
  
}

